.advantages
  .container
    .advantages-list
      .advantages-list__item
        .advantages-list__icon-cont
          include ../../../data/icons/payment
        h2.advantages-list__title Безопасная <br>оплата
        p.advantages-list__p Оплачивайте покупки любым удобным способом! Гарантия сохранности ваших средств!

      .advantages-list__item
        .advantages-list__icon-cont
          include ../../../data/icons/guarantee
        h2.advantages-list__title.gradient Гарантия <br>возврата
        p.advantages-list__p Не подошел размер? Нашли брак? Вернем 100% суммы. Покупайте выгодно и безопасно

        svg.dot-pattern-1(width='55' height='37' viewBox='0 0 55 37' fill='none' xmlns='http://www.w3.org/2000/svg')
          circle(cx='52.5' cy='2.5' r='2.5' transform='rotate(-180 52.5 2.5)' fill='#F0F0F0')
          circle(cx='42.5' cy='2.5' r='2.5' transform='rotate(-180 42.5 2.5)' fill='#F0F0F0')
          circle(cx='32.5' cy='2.5' r='2.5' transform='rotate(-180 32.5 2.5)' fill='#F0F0F0')
          circle(cx='22.5' cy='2.5' r='2.5' transform='rotate(-180 22.5 2.5)' fill='#F0F0F0')
          circle(cx='12.5' cy='2.5' r='2.5' transform='rotate(-180 12.5 2.5)' fill='#F0F0F0')
          circle(cx='52.5' cy='10.5' r='2.5' transform='rotate(-180 52.5 10.5)' fill='#F0F0F0')
          circle(cx='42.5' cy='10.5' r='2.5' transform='rotate(-180 42.5 10.5)' fill='#F0F0F0')
          circle(cx='52.5' cy='18.5' r='2.5' transform='rotate(-180 52.5 18.5)' fill='#F0F0F0')
          circle(cx='42.5' cy='18.5' r='2.5' transform='rotate(-180 42.5 18.5)' fill='#F0F0F0')
          circle(cx='52.5' cy='26.5' r='2.5' transform='rotate(-180 52.5 26.5)' fill='#F0F0F0')
          circle(cx='42.5' cy='26.5' r='2.5' transform='rotate(-180 42.5 26.5)' fill='#F0F0F0')
          circle(cx='52.5' cy='34.5' r='2.5' transform='rotate(-180 52.5 34.5)' fill='#F0F0F0')
          circle(cx='42.5' cy='34.5' r='2.5' transform='rotate(-180 42.5 34.5)' fill='#F0F0F0')
          circle(cx='32.5' cy='10.5' r='2.5' transform='rotate(-180 32.5 10.5)' fill='#F0F0F0')
          circle(cx='22.5' cy='10.5' r='2.5' transform='rotate(-180 22.5 10.5)' fill='#F0F0F0')
          circle(cx='2.5' cy='2.5' r='2.5' transform='rotate(-180 2.5 2.5)' fill='#F0F0F0')
          circle(cx='2.5' cy='10.5' r='2.5' transform='rotate(-180 2.5 10.5)' fill='#F0F0F0')
          circle(cx='12.5' cy='10.5' r='2.5' transform='rotate(-180 12.5 10.5)' fill='#F0F0F0')

        svg.dot-pattern-2(width='55' height='13' viewBox='0 0 55 13' fill='none' xmlns='http://www.w3.org/2000/svg')
          circle(cx='2.5' cy='10.5' r='2.5' fill='#F0F0F0')
          circle(cx='12.5' cy='10.5' r='2.5' fill='#F0F0F0')
          circle(cx='22.5' cy='10.5' r='2.5' fill='#F0F0F0')
          circle(cx='32.5' cy='10.5' r='2.5' fill='#F0F0F0')
          circle(cx='42.5' cy='10.5' r='2.5' fill='#F0F0F0')
          circle(cx='2.5' cy='2.5' r='2.5' fill='#F0F0F0')
          circle(cx='12.5' cy='2.5' r='2.5' fill='#F0F0F0')
          circle(cx='22.5' cy='2.5' r='2.5' fill='#F0F0F0')
          circle(cx='32.5' cy='2.5' r='2.5' fill='#F0F0F0')
          circle(cx='52.5' cy='10.5' r='2.5' fill='#F0F0F0')
          circle(cx='52.5' cy='2.5' r='2.5' fill='#F0F0F0')
          circle(cx='42.5' cy='2.5' r='2.5' fill='#F0F0F0')

      .advantages-list__item
        .advantages-list__icon-cont
          include ../../../data/icons/shoes
        h2.advantages-list__title Широкий <br>ассортимент
        p.advantages-list__p Большой выбор и широкий ассортимент! В нашем каталоге более 2000 товаров

      .advantages-list__item
        .advantages-list__icon-cont
          include ../../../data/icons/delivery
        h2.advantages-list__title.gradient Доставка по <br>всей России
        p.advantages-list__p Бесплатная доставка по всей России. Вы можете выбрать любую удобную для Вас транспортную компанию

        svg.dot-pattern-3(width='115' height='29' viewBox='0 0 115 29' fill='none' xmlns='http://www.w3.org/2000/svg')
          circle(cx='57.5002' cy='2.49995' r='2.5' transform='rotate(-180 57.5002 2.49995)' fill='#F8F8F8')
          circle(cx='46.5002' cy='2.49995' r='2.5' transform='rotate(-180 46.5002 2.49995)' fill='#F8F8F8')
          circle(cx='35.5002' cy='2.49995' r='2.5' transform='rotate(-180 35.5002 2.49995)' fill='#F8F8F8')
          circle(cx='24.5002' cy='2.49995' r='2.5' transform='rotate(-180 24.5002 2.49995)' fill='#F8F8F8')
          circle(cx='13.5002' cy='2.49995' r='2.5' transform='rotate(-180 13.5002 2.49995)' fill='#F8F8F8')
          circle(cx='57.5002' cy='10.5' r='2.5' transform='rotate(-180 57.5002 10.5)' fill='#F8F8F8')
          circle(cx='46.5002' cy='10.5' r='2.5' transform='rotate(-180 46.5002 10.5)' fill='#F8F8F8')
          circle(cx='35.5002' cy='10.5' r='2.5' transform='rotate(-180 35.5002 10.5)' fill='#F8F8F8')
          circle(cx='24.5002' cy='10.5' r='2.5' transform='rotate(-180 24.5002 10.5)' fill='#F8F8F8')
          circle(cx='2.50024' cy='2.4999' r='2.5' transform='rotate(-180 2.50024 2.4999)' fill='#F8F8F8')
          circle(cx='2.50024' cy='10.4999' r='2.5' transform='rotate(-180 2.50024 10.4999)' fill='#F8F8F8')
          circle(cx='13.5002' cy='10.5' r='2.5' transform='rotate(-180 13.5002 10.5)' fill='#F8F8F8')
          circle(cx='112.5' cy='2.49996' r='2.5' transform='rotate(-180 112.5 2.49996)' fill='#F8F8F8')
          circle(cx='101.5' cy='2.49995' r='2.5' transform='rotate(-180 101.5 2.49995)' fill='#F8F8F8')
          circle(cx='90.5002' cy='2.49995' r='2.5' transform='rotate(-180 90.5002 2.49995)' fill='#F8F8F8')
          circle(cx='79.5002' cy='2.49995' r='2.5' transform='rotate(-180 79.5002 2.49995)' fill='#F8F8F8')
          circle(cx='112.5' cy='10.5' r='2.5' transform='rotate(-180 112.5 10.5)' fill='#F8F8F8')
          circle(cx='112.5' cy='18.5' r='2.5' transform='rotate(-180 112.5 18.5)' fill='#F8F8F8')
          circle(cx='112.5' cy='26.5' r='2.5' transform='rotate(-180 112.5 26.5)' fill='#F8F8F8')
          circle(cx='101.5' cy='10.5' r='2.5' transform='rotate(-180 101.5 10.5)' fill='#F8F8F8')
          circle(cx='101.5' cy='18.5' r='2.5' transform='rotate(-180 101.5 18.5)' fill='#F8F8F8')
          circle(cx='101.5' cy='26.5' r='2.5' transform='rotate(-180 101.5 26.5)' fill='#F8F8F8')
          circle(cx='90.5002' cy='10.5' r='2.5' transform='rotate(-180 90.5002 10.5)' fill='#F8F8F8')
          circle(cx='68.5002' cy='2.49995' r='2.5' transform='rotate(-180 68.5002 2.49995)' fill='#F8F8F8')
          circle(cx='68.5002' cy='10.5' r='2.5' transform='rotate(-180 68.5002 10.5)' fill='#F8F8F8')
          circle(cx='79.5002' cy='10.5' r='2.5' transform='rotate(-180 79.5002 10.5)' fill='#F8F8F8')

        svg.dot-pattern-4(width='82' height='13' viewBox='0 0 82 13' fill='none' xmlns='http://www.w3.org/2000/svg')
          circle(cx='57.5002' cy='2.5' r='2.5' transform='rotate(-180 57.5002 2.5)' fill='#F8F8F8')
          circle(cx='46.5002' cy='2.5' r='2.5' transform='rotate(-180 46.5002 2.5)' fill='#F8F8F8')
          circle(cx='35.5002' cy='2.5' r='2.5' transform='rotate(-180 35.5002 2.5)' fill='#F8F8F8')
          circle(cx='24.5002' cy='2.5' r='2.5' transform='rotate(-180 24.5002 2.5)' fill='#F8F8F8')
          circle(cx='13.5002' cy='2.5' r='2.5' transform='rotate(-180 13.5002 2.5)' fill='#F8F8F8')
          circle(cx='57.5002' cy='10.5' r='2.5' transform='rotate(-180 57.5002 10.5)' fill='#F8F8F8')
          circle(cx='46.5002' cy='10.5' r='2.5' transform='rotate(-180 46.5002 10.5)' fill='#F8F8F8')
          circle(cx='35.5002' cy='10.5' r='2.5' transform='rotate(-180 35.5002 10.5)' fill='#F8F8F8')
          circle(cx='24.5002' cy='10.5' r='2.5' transform='rotate(-180 24.5002 10.5)' fill='#F8F8F8')
          circle(cx='2.50024' cy='2.49994' r='2.5' transform='rotate(-180 2.50024 2.49994)' fill='#F8F8F8')
          circle(cx='2.50024' cy='10.4999' r='2.5' transform='rotate(-180 2.50024 10.4999)' fill='#F8F8F8')
          circle(cx='13.5002' cy='10.5' r='2.5' transform='rotate(-180 13.5002 10.5)' fill='#F8F8F8')
          circle(cx='79.5002' cy='2.5' r='2.5' transform='rotate(-180 79.5002 2.5)' fill='#F8F8F8')
          circle(cx='68.5002' cy='2.5' r='2.5' transform='rotate(-180 68.5002 2.5)' fill='#F8F8F8')
          circle(cx='68.5002' cy='10.5' r='2.5' transform='rotate(-180 68.5002 10.5)' fill='#F8F8F8')
          circle(cx='79.5002' cy='10.5' r='2.5' transform='rotate(-180 79.5002 10.5)' fill='#F8F8F8')
