svg.icon(width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg')
  g(clip-path='url(#clip0)' fill='#000')
    path(opacity='.4' d='M19.701 9.792L23.79.26l-.972-.224a1.416 1.416 0 00-1.611.814l-2.813 6.563a1.402 1.402 0 00.405 1.64l.903.74zm-10.642 9a1.406 1.406 0 00-1.641-.405L.856 21.199a1.424 1.424 0 00-.82 1.618l.222.966 9.54-4.088-.74-.903zM28.91 1.442L25.644.688l-4.433 10.341 1.136.93a21.714 21.714 0 01-10.382 10.383l-.93-1.137L.686 25.64l.755 3.27A1.406 1.406 0 002.812 30C17.819 30 30 17.843 30 2.813a1.406 1.406 0 00-1.09-1.37z')
    path(d='M23.79.26L19.7 9.792l1.51 1.237L25.644.688 23.79.26zM.257 23.783l.429 1.857 10.347-4.435-1.236-1.51-9.54 4.088z')
  defs
    clipPath#clip0
      path(fill='#fff' d='M0 0h30v30H0z')
