svg.icon(width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg')
  path(fill-rule='evenodd' clip-rule='evenodd' d='M13.237 5.074c-4.416 0-7.943 3.383-7.943 7.495 0 4.11 3.527 7.494 7.943 7.494 4.417 0 7.943-3.383 7.943-7.494 0-4.112-3.526-7.495-7.943-7.495zM0 12.57C0 5.599 5.955 0 13.237 0c7.281 0 13.237 5.599 13.237 12.569 0 2.894-1.027 5.552-2.75 7.671l5.528 5.455a2.463 2.463 0 01-.055 3.588c-1.049.976-2.724.953-3.743-.053l-5.763-5.687a13.735 13.735 0 01-6.454 1.594C5.955 25.137 0 19.538 0 12.568z' fill='#000')
