.catalog-nav-wrapper
  .container
    .catalog-nav-swiper.items-swiper.swiper-container
      .swiper-wrapper
        .swiper-slide
          a.catalog-nav-swiper__link(href='#') детские коляски
        .swiper-slide
          a.catalog-nav-swiper__link(href='#') квадрокоптеры и радиоуправляемые игрушки
        .swiper-slide
          a.catalog-nav-swiper__link(href='#') электроника
        .swiper-slide
          a.catalog-nav-swiper__link(href='#') одежда, обувь и аксессуары
        .swiper-slide
          a.catalog-nav-swiper__link(href='#') товары для мам и малышей
        .swiper-slide
          a.catalog-nav-swiper__link(href='#') мягкие игрушки
        .swiper-slide
          a.catalog-nav-swiper__link(href='#') велосипеды и гироскутеры
        .swiper-slide
          a.catalog-nav-swiper__link(href='#') конструкторы

    .catalog-nav
      .catalog-nav__item
        .catalog-nav__content
          span.catalog-nav__title Детские коляски
          a.btn.btn--empty
            span.btn__txt Смотреть
        img.catalog-nav__img(src='assets/img/catalog-nav/pic-01.jpg' srcset='assets/img/catalog-nav/pic-01@2x.jpg')

      .catalog-nav__item
        .catalog-nav__content
          span.catalog-nav__title Квадрокоптеры и радиоуправляемые игрушки
          a.btn.btn--empty
            span.btn__txt Смотреть
        img.catalog-nav__img(src='assets/img/catalog-nav/pic-02.jpg' srcset='assets/img/catalog-nav/pic-02@2x.jpg')

      .catalog-nav__item
        .catalog-nav__content
          span.catalog-nav__title Электроника
          a.btn.btn--empty
            span.btn__txt Смотреть
        img.catalog-nav__img(src='assets/img/catalog-nav/pic-03.jpg' srcset='assets/img/catalog-nav/pic-03@2x.jpg')

      .catalog-nav__item
        .catalog-nav__content
          span.catalog-nav__title Для дома и интерьера
          a.btn.btn--empty
            span.btn__txt Смотреть
        img.catalog-nav__img(src='assets/img/catalog-nav/pic-04.jpg' srcset='assets/img/catalog-nav/pic-04@2x.jpg')

      .catalog-nav__item
        .catalog-nav__content
          span.catalog-nav__title Одежда, обувь и аксессуары
          a.btn.btn--empty
            span.btn__txt Смотреть
        img.catalog-nav__img(src='assets/img/catalog-nav/pic-05.jpg' srcset='assets/img/catalog-nav/pic-05@2x.jpg')

      .catalog-nav__item
        .catalog-nav__content
          span.catalog-nav__title Товары для мам и малышей
          a.btn.btn--empty
            span.btn__txt Смотреть
        img.catalog-nav__img(src='assets/img/catalog-nav/pic-06.jpg' srcset='assets/img/catalog-nav/pic-06@2x.jpg')

      .catalog-nav__item
        .catalog-nav__content
          span.catalog-nav__title Мягкие игрушки
          a.btn.btn--empty
            span.btn__txt Смотреть
        img.catalog-nav__img(src='assets/img/catalog-nav/pic-07.jpg' srcset='assets/img/catalog-nav/pic-07@2x.jpg')

      .catalog-nav__item
        .catalog-nav__content
          span.catalog-nav__title Велосипеды и гироскутеры
          a.btn.btn--empty
            span.btn__txt Смотреть
        img.catalog-nav__img(src='assets/img/catalog-nav/pic-08.jpg' srcset='assets/img/catalog-nav/pic-08@2x.jpg')

      .catalog-nav__item
        .catalog-nav__content
          span.catalog-nav__title Конструкторы
          a.btn.btn--empty
            span.btn__txt Смотреть
        img.catalog-nav__img(src='assets/img/catalog-nav/pic-09.jpg' srcset='assets/img/catalog-nav/pic-09@2x.jpg')
