.popular
  .container
    .popular-swiper.product-items-swiper.swiper-container
      .swiper-wrapper
        .swiper-slide
          .product-item
            .tag-label
              .tag.pink -20%
                .flag
            .product-item__img-cont
              img.product-item__img(src='assets/img/product-item/pic-01.jpg' srcset='assets/img/product-item/pic-01@2x.jpg')
            span.product-item__title Bartollino Adbor
            .product-item__price-cont
              span.product-item__price.product-item__price--new.price 12 000
              span.product-item__price.product-item__price--old.price 15 000
            a.btn(href='#')
              span.btn__txt В корзину

        .swiper-slide
          .product-item
            .tag-label
              .tag.green любимая игрушка
                .flag
            .product-item__img-cont
              img.product-item__img(src='assets/img/product-item/pic-02.jpg' srcset='assets/img/product-item/pic-02@2x.jpg')
            span.product-item__title Игрушка &laquo;Как приручить драокна&nbsp;3&raquo;
            .product-item__price-cont
              span.product-item__price.price 1 200
            a.btn(href='#')
              span.btn__txt В корзину

        .swiper-slide
          .product-item
            .tag-label
              .tag.pink -50%
                .flag
            .product-item__img-cont
              img.product-item__img(src='assets/img/product-item/pic-03.jpg' srcset='assets/img/product-item/pic-03@2x.jpg')
            span.product-item__title Кроватка детская
            .product-item__price-cont
              span.product-item__price.product-item__price--new.price 4 000
              span.product-item__price.product-item__price--old.price 8 000
            a.btn(href='#')
              span.btn__txt В корзину

        .swiper-slide
          .product-item
            .product-item__img-cont
              img.product-item__img(src='assets/img/product-item/pic-04.jpg' srcset='assets/img/product-item/pic-04@2x.jpg')
            span.product-item__title Автокресло
            .product-item__price-cont
              span.product-item__price.price 12 000
              span.product-item__price--old.price 15 000
            a.btn(href='#')
              span.btn__txt В корзину

        .swiper-slide
          .product-item
            .product-item__img-cont
              img.product-item__img(src='assets/img/product-item/pic-05.jpg' srcset='assets/img/product-item/pic-05@2x.jpg')
            span.product-item__title Конструктор Lego City
            .product-item__price-cont
              span.product-item__price.price 2 000
            a.btn(href='#')
              span.btn__txt В корзину

        .swiper-slide
          .product-item
            .tag-label
              .tag.pink -20%
                .flag
            .product-item__img-cont
              img.product-item__img(src='assets/img/product-item/pic-01.jpg' srcset='assets/img/product-item/pic-01@2x.jpg')
            span.product-item__title Bartollino Adbor
            .product-item__price-cont
              span.product-item__price.product-item__price--new.price 12 000
              span.product-item__price.product-item__price--old.price 15 000
            a.btn(href='#')
              span.btn__txt В корзину
