extends template.pug

block content
  //- Header block ('.header')
  include /header/block.pug


  - const page = 'index'

  main(class='content '+ page +'')
    //- Main block ('.main')
    include /main/block

  //   //- Advantages block ('.advantages')
  //   include /advantages/block

  //   //- Catalog-nav block ('.catalog-nav')
  //   include /catalog-nav/block

  //   //- Popular block ('.popular')
  //   include /popular/block


  // //- Popup block ('.footer')
  // include /footer/block
